<h1> Categoría  </h1>

<a href="/perfilusuario">Ir atrás</a>
<hr />

{{#each categoria in productos}}
<img class="card-img-top" src="{{this.image}}" alt="{{this.nombre}}" />
<h1>{{this.nombre}}</h1>






<div class="col-md-4">
    <div class="card">
        <img class="card-img-top" src="{{this.image}}" alt="{{this.nombre}}" />
        <div class="card-body">
            <h2 class="card-title">{{this.nombre}}</h2>
        </div>
    </div>
</div>




{{/each}}

</ul>
{{/each}}