<h1> Categoría </h1>

<a href="/perfilusuario">Ir atrás</a>
<hr />

{{#with categoria}}


    {{this.nombre}}
    {{this.producto.nombre}}

    <section class="container" id="categoria">
        {{!-- EMPEZAMOS A LEER TODOS LOS OBJETOS DE ESA CATEGORÍA --}}
        
            {{#each productos}}
            
                <div>
                    <article class="service-box">
                        
                        <a href="/categoria/{{this.categoria}}/{{this._id}}">
                            <img src="{{this.image}}" alt="{{this.nombre}}" />
                        </a>
                        

                        <a href="/categoria/{{this.categoria}}/{{this._id}}">
                            <h2>{{this.nombre}}</h2>
                        </a>
                    </article>
                </div>
            
            {{/each}}
        
    </section>

{{/with}}