<h1> Categoría </h1>

<a href="/perfilusuario">Ir atrás</a>
<hr />

{{#with categoria}}
{{this.nombre}}


{{this.producto.nombre}}

<a href="/categoria/{{categoria._id}}/{{productos._id}}">

    <section class="container" id="categoria">
        <div>
            <article class="service-box">

                <img src="{{this.productos.image}}" alt="{{this.productos.nombre}}" />
                <h2>{{this.productos.nombre}}</h2>
            </article>
        </div>
    </section>


</a>



{{/with}}