<h1> Categoría </h1>

<a href="/perfilusuario">Ir atrás</a>
<hr />

{{#with categoria}}
<h2>{{this.nombre}}</h2>

<h2>{{this.productos}}</h2>

{{!-- <a href="/categoria/{{categoria._id}}/{{thi.categoria.productos._id}}">

    <section class="container" id="categoria">
        <div>
            <article class="service-box">

                <img src="{{.categoria.productos}}" alt="{{this.categoria.productos.nombre}}" />
                <h2>{{this.categoria.productos}}</h2>
            </article>
        </div>
    </section>


</a> --}}



{{/with}}