<h1> Productos </h1>

<hr />

{{#with productos}}

<a href="/categoria/{{categoria._id}}">Ir atrás</a>



<img src="{{this.image}}" alt="{{this.nombre}}" />

<h2>{{this.nombre}}</h2>

<div>
    <ul>
        <li>nombre:{{this.nombre}}</li>
        <li>modelo:{{this.modelo}}</li>
        <li>image:{{this.image}}</li>
        <li>medidas:{{this.medidas}}</li>
        <li>color:{{this.color}}</li>
        <li>capacidad:{{this.capacidad}}</li>
        <li>conectividad:{{this.conectividad}}</li>
        <li>multimedia:{{this.multimedia}}</li>
        <li>precio:{{this.precio}}</li>
    </ul>

</div>

{{/with}}

</ul>